body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f3f5fc;
  height: 100%;
  width: 100%;
  min-width: 262px;
}

.header {
  width: 32px;
  height: 48px;
  position: absolute;
  top: 2vh;
  left: 1vw;
  background-image: url("../img/alura.png");
}

.main {
  background-color: transparent;
  width: 90vw;
  height: 80vh;
  margin: auto;
}

/* Container input */

.container_input {
  width: 60vw;
  height: 100%;
  background-color: transparent;
  float: left;
  margin: 0px;
}

.input_principal {
  font-family: monospace;
  color: #0a3871;
  width: 95%;
  height: 65%;
  display: block;
  margin: 5% auto 5%;
  text-align: start;
  resize: none;
  border: none;
  font-size: 30px;
  background-color: transparent;
}

.input_principal::placeholder {
  color: #0a3871;
}

.input_principal:focus {
  outline: none;
}

.texto_regras {
  width: 95%;
  margin: 5% 0 0.3vw 2vw;
  font-size: 14px;
  display: block;
}

.texto_regras::before {
  content: url("../img/exclamation.jpg");
  margin-right: 2px;
  position: relative;
  top: 2px;
}

.botoes {
  width: 95%;
  margin: auto;
}

.btn_cript,
.btn_descript {
  padding: 1vw;
  width: 20vw;
  border: 1px solid #0a3871;
  border-radius: 10px;
  cursor: pointer;
  transition: all 100ms;
}

.btn_cript:active, .btn_descript:active {
  transform: scale(0.9);
  transition: all 100ms;
}

.btn_cript {
  background-color: rgb(10, 56, 113);
  color: white;
  margin-right: 3vw;
}

.btn_descript {
  color: #0a3871;
  background-color: #d8dfe8;
}

/* Container resultado */
.container_resultado {
  background-color: white;
  text-align: center;
  width: 30vw;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px grey;
  float: right;
  margin: 0px;
  overflow-y: auto;
}

.resultado {
  font-size: 30px;
  font-family: monospace;
  display: block;
  margin-top: 8.4vh;
  padding: 0 1vw;
  overflow-wrap: break-word;
}

.img_lupa {
  width: 80%;
  height: 48vh;
  margin:  2vh auto 0;
}

.resultado_vazio_bold {
  font-size: 23px;
  display: block;
  font-weight: bold;
  font-family: cursive, sans-serif;
  padding: 0 0.5vw;
}

.resultado_vazio {
  font-family: cursive, sans-serif;
  font-size: 15px;
  display: block;
  padding: 0 0.7vw;
}

@media only screen and (max-width: 900px) {
  .header {
    transform: scale(0.4);
  }

  .container_input {
    width: 100%;
    height: 50%;
    float: none;
  }

  .input_principal {
    width: 65%;
    height: 65%;
    margin: 0;
  }

  .botoes {
    width: 100%;
  }

  .texto_regras {
    margin: 0;
  }

  .btn_cript {
    height: 10vh;
    width: 49%;
    margin: 0;
  }

  .btn_descript {
    height: 10vh;
    width: 49%;
  }

  .container_resultado {
    width: 100%;
    height: 50%;
    float: none;
    margin-top: 8vh;
  }

  .resultado {
    margin-bottom: 3vh;
  }

  .img_lupa {
    display: none !important;
  }

  .resultado_vazio_bold {
    padding-top: 7vh;
  }
}